//* text system
@mixin fontsize-weight($fontsize, $fontweight) {
    font-size: $fontsize;
    font-weight: $fontweight;
    
}

@mixin mq($screen-width) {
    @if $screen-width == 'mobile' {
        @media screen and (max-width: 1023px) {
            @content;
        }
    }

    @else if $screen-width == 'desktop-big' {
        @media screen and (min-width: 1024px) {
            @content;
        }
    }

    @else { // desktop

    }
}


@mixin clearfix() {
    &::after {
        content: "";
        display: block;
        clear: left;
    }
}